


.nav-container {
     padding: 1rem 1.5rem;
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-container .box-logo {
     width: 197px;
}
.menu-container .main-menu {
          display: flex;
          justify-content: center;
          gap: 2rem;
          
}

.menu-container .main-menu .title {
     display: flex;
     align-items: baseline;
     gap: 0.5rem;
     font-weight: 600;

}

.dropdown .title {
     position: relative;
}

.title:hover {
     color: #FFA920;
}

/* .submenu1 > li:hover {
     color: #FFA920;
     .dropdown {
          color: black;
     }
} */

.main-menu a:hover {
     color: #FFA920;
}


.dropdown .submenu1 {
     position: absolute;
     background-color: white;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     /* display: block;  */
     opacity: 0; 
     visibility: hidden; 
     transition: all 1s ease;
     transform: translateY(-11px); 
     z-index: 90;
} 

.dropdown .submenu2 {
     position: absolute;
     background-color: white;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     display: block;  
     opacity: 0; 
     visibility: hidden;  
     transition: all 1s ease;
     transform: translateY(-11px); 
     left: 100%;
     z-index: 90;
} 

.dropdown:hover > .submenu1 {
     cursor: pointer;
     opacity: 1; 
     visibility: visible; 
     transform: translateY(27px); 
}

.title-v2:hover > .submenu2 {
     cursor: pointer;
     opacity: 1; 
     display: block;
     visibility: visible; 
     transform: translateY(27px); 
} 

.submenu1 li {
     display: block;
     padding: 0.5rem 1rem;
     width: 15rem;
     text-align: left;
} 

.title-sub {
     display: flex;
     justify-content: space-between;
}

.title-v2 > .submenu2 {
     position: absolute;
     background-color: white;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     display: block; 
     opacity: 0; 
     visibility: hidden; 
     transition: all 500ms ease;
     transform: translateY(-11px); 
}

.title-v2:hover > .submenu2 {
     cursor: pointer;
     opacity: 1; 
     visibility: visible; 
     transform: translateY(-20px); 
} 

.dropdown .submenu2 li {
     display: block;
     padding: 0.5rem 1rem;
     width: 15rem;  
     text-align: left;
} 










.authenticate-container {
     display: flex;
     align-items: center;
     gap: 20px
}

.authenticate-container .action {
     display: flex;
     align-items: center;
     gap:10px;
     
}

.authenticate-container .sell-box {
     display: flex;
     justify-content: space-between;
     border-radius: 15px;
     background-color: #FFA920;
     width: 11.5rem;
     padding: 1rem 2rem;
     font-weight: 600;
     color: white;
     
}

/* For small screens (phones) */
@media only screen and (max-width: 600px) {
     .main-menu {
          display: none;

     }

     .authenticate-container:after {
          font-family: "Font Awesome 5 Solid";
          content: "\f02a";
     }
 }
 
 /* For medium-sized screens (tablets) */
 @media only screen and (min-width: 601px) and (max-width: 1024px) {
     /* Styles for medium screens */
 }