.box-contact {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;

    .contact-info {
        display: flex;
        flex-direction: column;
    }
}

.css-1dr4hh7-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
    width: 300px!important;
}

.css-7a2we7 .MuiDrawer-paper {
    width: 300px!important;
}


