$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1060px;




.box-container {
    width: 963px;
    // height: 100px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    top: 620px;

    @media (max-width: $breakpoint-small) {
        top: 930px!important;
        
    }

    @media (max-width: $breakpoint-medium) {
        top: 860px;
        width: 85%;
    }


    .option-box {
        border-bottom: 0.5px solid black;
        display: flex;
        gap: 15px;
        padding: 1.5rem 0;

    
        @media (max-width: $breakpoint-medium) {
            flex-direction: column;
            .input {
                width: 100%!important;
            }
        }
    }

    .checkbox-container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 100px;
        padding-top: 1rem;

        .checkbox-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }

}